*{
    margin: 0;
    padding: 0;
}

header {
  background-color: #176b87;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.left {
  display: flex;
  color: #b4d4ff;
  align-items: center;
}

.button1 {
  background-color: #176b87;
  border: none;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0 5px;
  color: #b4d4ff;
  cursor: pointer;
}

.logo-tekst {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 5px;
}

.right {
  display: flex;
}

.header-input {
  background-color: #b4d4ff;
  border: none;
  border-radius: 15px;
  width: 250px;
  font-size: 18px;
  margin-right: 5px;
  padding: 0 5px;
}

.header-button{
  background-color: #176b87;
  border: none;
  font-size: 18px;
  color: #b4d4ff;
  font-weight: 400px;
  margin: 0 5px;
  cursor: pointer;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.categories{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.category-item{
  margin: 0 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: #176b87;
  border: 2px solid #176b87;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eef5ff;
}

.category-item:hover{
  background-color: #b4d4ff;
}

.menu{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  
}

.card-container{
  width: 320px;
  margin: 30px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img img{
  width: 320px;
  height: 200px;
  border-radius: 20px;
}

.card-details-info{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 600;
}

.card-details{
  margin-top: 20px;
  padding: 20px;
}

.price{
  color: #c33333;
}

.card-details-descriptions{
  text-align: justify;
  margin-top: 15px;
}

.card-details-ingredients{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.ingredients{
  background-color: #86b6f6;
  border-radius: 3px;
  margin: 10px 5px 0 0;
  padding: 5px;
  text-transform: capitalize;
  font-size: 12px;
}